<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/ratings.css">

<div class="container mt-5">
    <h1 class="mb-3"><%= trail.title %> - <%= trail.location %></h1>
    <form action="/trails/<%= trail._id %>/reviews/<%=review._id%>?_method=PUT" class="min-w-sm " method="POST">
        <div id="" class="form-text mb-3">
            <p class="h5 mb-3">A few things to consider in your review:</p>
            <p class=""><span class="bg-primary text-light rounded p-1">#Scenery</span><span class="bg-primary text-light rounded p-1 mx-2">#Accessibility</span><span class="bg-primary text-light rounded p-1">#Difficulty</span>
            </p>
            
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a review here" id="floatingTextarea" name="review[body]" style="height: 100px"><%=review.body%></textarea>
            <label for="floatingTextarea">Review</label>
          </div>
        <fieldset class="starability-basic mb-3">
          <legend>Rate:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <button type="submit" class="btn btn-primary">Update Review</button>
      </form>

</div>
